In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('grupos_df.csv',index_col=[0])

In [5]:
df

     cuantil_cant_x     marca   modelo
0                 1    TOYOTA    Hilux
1                 1    TOYOTA  Corolla
2                 1    TOYOTA    Etios
3                 3    TOYOTA    Rav 4
4                 4    TOYOTA    Yaris
..              ...       ...      ...
343              10     HAVAL       H2
344              10     HAVAL       H1
345              10     LEXUS       NX
346              10     LEXUS       IS
347              10  SHINERAY      X30

[348 rows x 3 columns]